.App {
  background-color: black;
}

.greetText {
  padding-top:20px;
  padding-bottom:25px;
  max-width: 800px;
  text-align: center;

}

.menuButton.Mui-selected {
 border-right: 4px solid #4285F4;
}

.listItem:hover {
  opacity: 0.3;
} 

.webcam {
  border-radius: 20px;
  margin-bottom: 30px;
  border:3px dashed #4285F4;
}

.startButton {
  box-shadow: 0px 0px 24px rgba(41, 132, 255, 0.56);
  border-radius: 8px;
}

.webcamContainer {
  position:relative
}

.alert,.timer{
  position: absolute;
  background: rgba(19, 21, 23, 0.63);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  padding:10px;
}

.alert {
  margin:25px 30px;
}

.timer {
  margin-top:25px;
  right:35px;
}

.settings--title {
  /* margin-top: 50px;
  margin-left: 100px; */
  font-weight: bolder;
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 0;
}

.subheading {
  margin-top: 5px;
  font-weight:400;
  opacity: 0.5;
  font-size: 14px;
}

.option {
  font-weight: bolder;
}

.analytics-descrip {
  font-size: x-large;
  margin-right:0
}
